<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title></title>

    <link rel="stylesheet" type="text/css" href="/ulite/ulite.css">
    <link rel="stylesheet" type="text/css" href="/jslib/swiper/swiper.min.css">
    <link href="/run/src/common_control.css" rel="stylesheet">
    <link href="/run/src/common_public.css" rel="stylesheet">
    <link href="/run/src/Index/index.css" rel="stylesheet">

</head>
<body>
<div id="doc" >
    <div id="doc-header" class="navbar">
        <div class="pull-left">
            <ul class="menu-horizontal">
                <li>
                    <a>文件共享</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="doc-body" class="row menu-open">
        <div id="doc-aside" class="pull-left">
            <div id="doc-aside-body" class="row">
                <div  id="doc-aside-main" class="pull-left">
                    <div id="doc-aside-main-menu">
                        <ul class="menu-vertical">
                            <li>
                                <a href="/Index/Index/index" >
                                    <span class="glyphicon glyphicon-file"></span>
                                    <span class="menu-vertical-text">
                                       目录
                                    </span>
                                </a>
                            </li>
                            <li class="active">
                                <a class="ulite-js-menu ulite-js-ripple-effect">
                                    <span class="glyphicon glyphicon-briefcase">
                                    </span>
                                    <span class="menu-vertical-text">小工具</span>
                                </a>
                                <ul class="menu-vertical menu-vertical-child">
                                    <li>
                                        <a href="/Index/Json/index" class="ulite-js-menu ulite-js-ripple-effect">
                                            <span class="glyphicon glyphicon-asterisk"></span>
                                            <span>Json格式化 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Index/Qrcode/index" >
                                            <span class="glyphicon glyphicon-qrcode"></span>
                                            <span>二维码 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="glyphicon glyphicon-link"></span>
                                            <span>http</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="doc-center">
            <div id="container">
                <label for="jsonInput">Json输入：</label>
                <div>
                    <textarea style="width: 100%;height: 50px" id="jsonInput" placeholder="输入Json数据"></textarea>
                </div>
                <div id="outPut">
                    <pre></pre>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/jslib/jquery/1.11.2/jquery.min.js"></script>
<script src="/ulite/ulite.js"></script>
<script src="/run/src/Json/index.js"></script>

</html>